@dialogCls: ~'@{comps-prefix}-dialog';

.@{dialogCls} {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: @dialog-mask-bg;
  z-index: 990;
  &-inner  {
    position: fixed;
    width: @dialog-inner-width;
    font-size: @dialog-inner-font-size;
    line-height: 1;
    background-color: #fff;
    color: @dialog-inner-color;
    box-sizing: border-box;
    z-index: 991;
    border-radius: @dialog-inner-border-radius;
    overflow: hidden;
  }
  &-title {
    text-align: center;
    line-height: @dialog-title-line-height;
  }
  &-title::after {
    display: block;
    content: "";
    height: 1px;
    overflow: hidden;
    background-color: @dialog-title-border-bottom-color;
  }
  &-close {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 1;
    padding: 15px;
    font-size: @dialog-close-size;
    color: @dialog-close-color;
  }
  &-content {
    padding: @dialog-content-padding;
    text-align: @dialog-content-text-align;
    line-height: @dialog-content-line-height;
  }
  &-btn {
    display: flex;
    line-height: @dialog-btn-line-height;
    border-top: 1px solid @dialog-btn-border-color;
  }
  &-cancel-btn,
  &-confirm-btn {
    flex: 1;
    text-align: center;
    box-sizing: border-box;
  }
  &-cancel-btn-show&-confirm-btn-show &-cancel-btn {
    border-right: 1px solid @dialog-btn-border-color;
  }
  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity 0.3s;
  }
  &-fade-enter,
  &-fade-leave-to {
    opacity: 0;
  }
}
