@toastCls: ~"@{comps-prefix}-toast";

.@{toastCls} {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: @toast-mask-bg;
  z-index: 990;
  &__inner {
    position: fixed;
    left: 50%;
    top: 30%;
    background-color: @toast-inner-bg;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 991;
    width: @toast-inner-width;
    min-height: 95px;
    transform: translateX(-50%);
    &--long {
      width: @toast-inner-long-width;
    }
  }
  &__icon {
    width: @toast-icon-size;
    height: @toast-icon-size;
    color: @toast-icon-color;
    margin-bottom: 10px;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}
