@flexFixedCls: ~"@{comps-prefix}-flexfixed";

.@{flexFixedCls} {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  &__main {
    display: block;
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* 解决ios滑动不流畅问题 */
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__header {
    &--usefixed {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
  &__header-copy {
    opacity: 0;
  }
}
