@buttonCls: ~"@{comps-prefix}-button";

.@{buttonCls} {
  height: @btn-height;
  line-height: @btn-height;
  text-align: center;
  box-sizing: border-box;
  font-size: @btn-font-size;
  &--plain {
    background: #fff !important;
  }
  &--default {
    color: @btn-default-color;
    background: @btn-default-background;
    border: @btn-default-border;
  }
  &--default&--plain {
    color: @primary-color;
    border: 1px solid @primary-color;
  }
  &--warning {
    color: @btn-warning-color;
    background: @btn-warning-background;
    border: @btn-warning-border;
  }
  &--warning&--plain {
    color: @btn-warning-plain-color;
    border: 1px solid @btn-warning-plain-border-color;
  }
  &&--disabled {
    color: #fff;
    background: @btn-disabled-background;
  }
  &&--disabled&--plain {
    color: @btn-disabled-color;
    border: 1px solid @btn-disabled-color;
  }
  &--radius {
    border-radius: @btn-height;
  }
}
